body {
    font-size: 20px;
    background-image: url(https://images.unsplash.com/photo-1502691876148-a84978e59af8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

p {
    margin: 0;
}

a {
    padding: 10px 20px;

    display: inline-block;
    font-size: 20px;
    border: 2px solid teal;
    border-radius: 16px;
    color: teal;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

a:hover,
a:focus {
    background-color: teal;
    color: white;
}

div, h1 {
    padding: 20px;
    width: 60%;
    background-color: rgba(247, 240, 237, 0.9);
}

div, p:not(:nth-last-of-type(1)) {
    margin-bottom: 20px;
}