body {
    font-size: 20px;
}

h1, h2 {
    color: darkgrey;
}


a {
    padding: 10px 20px;
    margin-top: 20px;
    display: inline-block;
    font-size: 20px;
    border: 2px solid teal;
    border-radius: 16px;
    color: teal;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

a:hover,
a:focus {
    background-color: teal;
    color: white;
}